Repository wporter/air-quality, pull requests merged in 2024-03, with the labels that each got.

#164 tool tips implemented
  components/Map/Content.jsx
  components/Marker.jsx
  pages/index.js
  tailwind.config.js
Labels: Ready to Review, Landing, Researcher

#165 Fixed "unavailable" UI
  components/researcher/data/Details.jsx
Labels: Researcher

#162 Sharan/graph
  components/researcher/data/Line.jsx
Labels: Ready to Review, Frontend, Researcher

#166 Updated metadata
  package-lock.json
  package.json
  pages/_app.js
Labels: Repository

#163 added links to device detail pages
  .github/workflows/pull-request.yaml
  cypress/support/component.js
  src/app/researcher/data/[sn]/page.js
  src/components/researcher/data/Data.jsx
  src/components/researcher/data/Details.jsx
  src/utils/api.js
Labels: Ready to Review, Frontend, Researcher

#170 cleaned up pages
  src/app/layout.js
  src/app/page.js
  src/components/Map/Content.jsx
  src/components/Navigation.jsx
  src/components/Welcome.jsx
  src/components/about/About.jsx
  src/components/researcher/dashboard/Dashboard.jsx
  src/components/researcher/dashboard/Data.jsx
Labels: Ready to Review, Bug Fix, Frontend

#172 created test for status
  cypress/component/Status.cy.js
  src/components/researcher/dashboard/Status.jsx
Labels: Testing, Researcher

#173 Favicon added
  src/app/favicon.ico
Labels: Frontend

#180 cleaned up Nav bar ui
  src/components/researcher/SideNavigation.jsx
Labels: Bug Fix, Frontend, Researcher

#183 lined the status with map
  src/components/researcher/dashboard/Dashboard.jsx
Labels: Frontend, Researcher

#181 Added scroll on-click
  src/app/page.js
  src/components/Welcome.jsx
Labels: Frontend, Landing

#187 ui clean ups
  src/components/Error.jsx
  src/components/about/About.jsx
Labels: Ready to Review, Frontend, About

#188 UI Clean up
  src/components/about/About.jsx
  src/components/about/Profile.jsx
Labels: Ready to Merge, Frontend, About

#184 Map features implemented
  package-lock.json
  src/app/layout.js
  src/components/AqiStatus.jsx
  src/components/Error.jsx
  src/components/Legend.jsx
  src/components/Map/Content.jsx
  src/components/Marker.jsx
  src/data/StatusAqi.js
  tailwind.config.js
Labels: Ready to Review, Researcher, Map

#189 Updated markers to have no border
  src/components/AqiStatus.jsx
Labels: Researcher, Map

#182 Sharan/details
  src/components/researcher/Protected.jsx
  src/components/researcher/SideNavigation.jsx
  src/components/researcher/data/Data.jsx
  src/components/researcher/data/Details.jsx
  src/components/researcher/data/Line.jsx
Labels: Bug Fix, Frontend, Researcher
