Repository wporter/air-quality, pull requests merged in 2024-02, with the labels that each got.

#106 Fixed issues with footer on error page
  src/components/Error.jsx
  src/components/about/Profile.jsx
Labels: Ready to Review, Frontend

#105 Navigation bar animation added
  src/components/Navigation.jsx
Labels: Ready to Review, Frontend

#109 removed the geolocation
  package-lock.json
  package.json
  src/components/researcher/data/Data.jsx
Labels: Researcher

#111 Removed contact info from footer
  src/components/Footer.jsx
  tailwind.config.js
Labels: Frontend, Footer

#112 styled the device detailed data
  src/components/researcher/data/Data.jsx
  src/components/researcher/data/Details.jsx
Labels: Ready to Review, Frontend, Researcher

#110 dropdown done
  package-lock.json
  src/components/researcher/dashboard/Dropdown.jsx
  tailwind.config.js
Labels: Repository, Ready to Review, Frontend, Researcher

#113 Added waves SVG to about page
  public/svg/AboutWaves.svg
  src/components/about/About.jsx
Labels: About

#114 Add Tag Tests
  cypress/component/Tag.cy.js
  src/components/researcher/Tag.jsx
Labels: Testing, Ready to Merge

#117 fix import
  cypress/component/Tag.cy.js
Labels: Testing

#119 Error Component Tests
  cypress/component/Error.cy.js
  src/app/not-found.js
  src/components/Error.jsx
Labels: Testing, Ready to Merge

#120 made about page
  src/components/about/About.jsx
Labels: About

#121 Updated Researcher Dashboard UI
  src/components/researcher/dashboard/Dashboard.jsx
  src/components/researcher/dashboard/Status.jsx
Labels: Ready to Review, Frontend, Researcher

#122 Line Chart
  package-lock.json
  package.json
  src/app/api/line/[sn]/route.js
  src/app/page.js
  src/components/Map.jsx
  src/components/Marker.jsx
  src/components/researcher/dashboard/Dashboard.jsx
  src/components/researcher/dashboard/Data.jsx
  src/components/researcher/data/Data.jsx
  src/components/researcher/data/Line.jsx
Labels: Ready to Review, Researcher

#136 distance btwn about and sign-in cut down
  src/components/Navigation.jsx
Labels: Frontend, About

#138 fixed scrolling for researcher's data table
  src/components/researcher/dashboard/Data.jsx
Labels: Ready to Review, Bug Fix, Frontend, Researcher

#137 units added to device details
  src/components/researcher/data/Data.jsx
Labels: Ready to Review, Frontend, Researcher

#141 ready for deployment
  .github/workflows/deploy.yaml
  .github/workflows/pull-request.yaml
  src/app/api/data/[sn]/route.js
  src/app/api/line/[sn]/route.js
  src/app/api/locations/route.js
  src/app/page.js
  src/app/researcher/data/page.js
  src/components/Map/Content.jsx
  src/components/Map/Map.jsx
  src/components/Marker.jsx
  src/components/researcher/dashboard/Dashboard.jsx
  src/components/researcher/dashboard/Data.jsx
  src/components/researcher/data/Data.jsx
  src/components/researcher/data/Details.jsx
  src/components/researcher/data/Line.jsx
  src/utils/api.js
Labels: Ready to Review

#143 Welcome text updated
  src/components/Welcome.jsx
Labels: Ready to Review, Landing

#157 Unique Graphs
  components/researcher/data/Data.jsx
  components/researcher/data/Details.jsx
  components/researcher/data/Line.jsx
  utils/api.js
Labels: Bug Fix, Researcher

#159 Styling touch-ups
  components/researcher/Tag.jsx
  components/researcher/dashboard/Data.jsx
  data/Tags.js
  tailwind.config.js
Labels: Ready to Review, Researcher

#160 Adjusted styling and spacing
  components/about/About.jsx
  components/about/Profile.jsx
  public/svg/AboutWaves.svg
Labels: Ready to Review, Bug Fix, About
